button{
    background-color: black;
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    width: 50%;
}
button:hover {
    background-color: gray;
    columns: white;
}