.dark{
    background-color: gray;
    color: white;
}
.container{
    width: 12em;
    margin: 0.2em;
    float: left;

}
.pic img{
    width: 100%;
}
.title{
    font-weight: bold;
    margin-bottom: 1em;
    color:#ccc
}
.channel, .views{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}

.view span{
    padding: 0 0.5em;
}